#manaModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='manaModal', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Suggested Mana
            .modal-body
                .form-group.col
                    .mana-suggest
                        .land-title Islands
                        .mana-count
                            .count-btn.minus(ng-click="countMana('u', '-')") -
                            .count {{sIsland || 0}}
                            .count-btn.plus(ng-click="countMana('u', '+')") +
                    .mana-suggest
                        .land-title Plains
                        .mana-count
                            .count-btn.minus(ng-click="countMana('w', '-')") -
                            .count {{sPlains}}
                            .count-btn.plus(ng-click="countMana('w', '+')") +
                    .mana-suggest
                        .land-title Swamps
                        .mana-count
                            .count-btn.minus(ng-click="countMana('b', '-')") -
                            .count {{sSwamp}}
                            .count-btn.plus(ng-click="countMana('b', '+')") +
                    .mana-suggest
                        .land-title Mountains
                        .mana-count
                            .count-btn.minus(ng-click="countMana('r', '-')") -
                            .count {{sMountain}}
                            .count-btn.plus(ng-click="countMana('r', '+')") +
                    .mana-suggest
                        .land-title Forests
                        .mana-count
                            .count-btn.minus(ng-click="countMana('g', '-')") -
                            .count {{sForest}}
                            .count-btn.plus(ng-click="countMana('g', '+')") +
                button.btn.btn-primary(data-dismiss='modal', ng-click="applyLands(sIsland, sPlains, sSwamp, sMountain, sForest)") Apply Lands