#viewOptionsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='viewOptionsModal', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title View Options
            .modal-body
                .card-options
                    h3 Card Options
                    .check
                        input#banned(type='checkbox')
                        label(for='banned') Hide Banned Cards
                    .check
                        input#duplicates(type='checkbox')
                        label(for='duplicates') Hide Duplicate Cards
                .price-options
                    h3 TCG Player Options
                    label(for="sourceOptions") Source:
                    select#sourceOptions
                        option TCG Lo
                        option TCG Mid
                        option TCG Hi

