.container-fluid.landing-body
    .col-sm-offset-3.col-sm-6.text-center
        img.img-responsive(src="./../../images/SwingFaceBrandColor.png")
    .col-sm-offset-3.col-sm-6
        .desc
            p Welcome to the SwingFace MTG Deckbuilder. This app aims to make building a deck fun and easily accessible. We are currently in our Alpha stages but are working hard to get this app up to par as soon as possible.
            p While you use the app there are some things to note. We have a list of known bugs and enhancements that our devs are working on as you read this so always be sure to check back every once in a while.
            p Here is a list of the know bugs and enhancements that we plan on squashing and implementing.
    .col-sm-offset-3.col-sm-6
        .lists
            .col-sm-6
                h3 Bugs
                ul.known-list
                    li Cannot drag cards on top of other cards
                    li Filtering by CMC doesn't filter when deselecting a filter number
                    li Certain cards are missing from their sets. If found please note it down.
            .col-sm-6
                h3 Enhancements
                ul.known-list
                    li Total Card Count
                    li Clear All Button
                    li +/- for adding and removing from the list
                    li Display color and mana cost in list
                    li Display Mana curve
                    li Show CMC
                    li Separate cards into groups (i.e. Creatures, Spells, Land)
                    li Hovering a card enlarges it
    a.col-sm-offset-3.col-sm-6.btn.btn-success(href="/builder") Get Started