.landing-body
    .logo
        img(src="./../../images/SwingFaceBrandColor.png")
    .container
        .desc
            p This app aims to make building a deck fun and easily accessible. It is currently in Alpha with changes being implemented weekly.
            p While you use the app there are some things to note. We have a list of known bugs and enhancements described below.
        .lists
            .list
                h3 Bugs
                ul.known-list
            .list
                h3 Future Features
                ul.known-list
                    li Display Mana curve
                    li Card Pricing
        a.get-started-btn(href="/builder") Get Started