@font-face {
  font-family: 'Belwe';
  src: url("./../../fonts/OPTIBelwe-Medium.woff"); }

@font-face {
  font-family: 'Beleren';
  src: url("./../../fonts/beleren.ttf"); }

@font-face {
  font-family: 'Relay';
  src: url("./../../fonts/relay.ttf"); }

body {
  background-image: url("./../../images/tableBG.jpg");
  background-size: 100% 100%;
  color: #fff; }

.deck-builder {
  margin-top: 50px; }

.collection-box .area-click {
  position: absolute;
  margin-top: 10px;
  height: 680px;
  width: 35px;
  z-index: 1000; }

.collection-box .back-area {
  left: 0;
  cursor: w-resize; }

.collection-box .next-area {
  right: 0;
  cursor: e-resize; }

.collection-box .color-filter {
  height: 85px;
  margin-bottom: -10px; }
  .collection-box .color-filter ul {
    margin-top: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    height: 70px; }
    .collection-box .color-filter ul li {
      position: absolute;
      bottom: 0;
      list-style: none;
      display: inline-block; }
  .collection-box .color-filter input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  .collection-box .color-filter .color-tab {
    background-color: #262626;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 60px;
    display: inline-block;
    border: 2px groove #CCBB99;
    border-bottom: none;
    margin-top: 20px;
    margin-bottom: -8px;
    margin-left: 5px;
    margin-right: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: height .5s; }
    .collection-box .color-filter .color-tab::before {
      content: '';
      position: absolute;
      top: 80px;
      left: 5px;
      background-color: #262626;
      border: 2px groove #CCBB99;
      border-top: none;
      height: 120%;
      width: 50px;
      z-index: 0; }
  .collection-box .color-filter .li-c {
    left: 10px; }
  .collection-box .color-filter .li-b {
    left: 70px; }
  .collection-box .color-filter .li-w {
    left: 130px; }
  .collection-box .color-filter .li-u {
    left: 190px; }
  .collection-box .color-filter .li-r {
    left: 250px; }
  .collection-box .color-filter .li-g {
    left: 310px; }
  .collection-box .color-filter .li-and {
    left: 370px; }
  .collection-box .color-filter .color-c {
    background-image: url("./../../images/colorlessMana.png"); }
  .collection-box .color-filter .color-b {
    background-image: url("./../../images/blackMana.png"); }
  .collection-box .color-filter .color-w {
    background-image: url("./../../images/whiteMana.png"); }
  .collection-box .color-filter .color-u {
    background-image: url("./../../images/blueMana.png"); }
  .collection-box .color-filter .color-r {
    background-image: url("./../../images/redMana.png"); }
  .collection-box .color-filter .color-g {
    background-image: url("./../../images/greenMana.png"); }
  .collection-box .color-filter .color-and {
    background-image: url("./../../images/andMana.png"); }
  .collection-box .color-filter input[type=checkbox]:checked ~ .color-tab {
    height: 80px; }

.collection-box .text-filter .search-divider {
  width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border: none; }

.collection-box .cards {
  padding-top: 20px;
  padding-bottom: 20px; }
  .collection-box .cards::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 120%;
    height: 100%;
    background-image: url("./../../images/paper.png");
    background-color: transparent;
    background-size: contain;
    filter: drop-shadow(0px 0px 5px #262626); }
  .collection-box .cards .mtgcard {
    padding: 15px;
    position: relative;
    user-select: none; }
    .collection-box .cards .mtgcard:active + .drag-box {
      background: #fff !important; }
    .collection-box .cards .mtgcard .cardImg {
      filter: drop-shadow(0px 0px 5px #262626);
      position: relative;
      top: 0;
      z-index: 2; }
  .collection-box .cards .cards-left {
    position: relative;
    padding-top: 4px;
    padding-right: 10px;
    font-family: "beleren";
    font-size: 24px;
    color: #2e2e2e;
    text-align: right;
    right: 40px;
    top: 15px;
    width: 50px;
    height: 50px;
    background: #EEEECC;
    border-top: 3px groove #CCBB99;
    border-right: 3px groove #CCBB99;
    border-bottom: 3px groove #CCBB99;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 0; }

.collection-box .filter {
  height: 85px; }
  .collection-box .filter .format-select-box .format-select {
    color: #000; }
  .collection-box .filter .cmc-filter-box ul {
    margin: 0;
    padding: 0; }
    .collection-box .filter .cmc-filter-box ul li {
      list-style: none;
      display: inline-block; }
  .collection-box .filter .cmc-filter-box input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  .collection-box .filter .cmc-filter-box .mana-tab {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #6e6e6e;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 100%; }
  .collection-box .filter .cmc-filter-box input[type=checkbox]:checked ~ .mana-tab {
    border: 1px solid #00d8ff; }
  .collection-box .filter .rarity-filter-box ul {
    margin: 0;
    padding: 0; }
    .collection-box .filter .rarity-filter-box ul li {
      list-style: none;
      display: inline-block; }
  .collection-box .filter .rarity-filter-box input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  .collection-box .filter .rarity-filter-box .rarity-tab {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid #6e6e6e;
    margin-top: 0;
    margin-bottom: -8px;
    margin-left: 5px;
    margin-right: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .collection-box .filter .rarity-filter-box input[type=checkbox]:checked ~ .rarity-tab {
    border: 1px solid #ffe000; }

.deck-tray {
  padding: 0; }
  .deck-tray ul {
    margin: 0;
    padding: 0; }
    .deck-tray ul li {
      list-style: none; }
  .deck-tray .display-box {
    padding: 20px; }
  .deck-tray .deck-card {
    width: 100%;
    margin-bottom: 5px;
    color: #262626;
    position: relative;
    z-index: 999;
    background: #EEEECC;
    border: 4px groove #CCBB99; }
    .deck-tray .deck-card span {
      margin-top: 5px; }
    .deck-tray .deck-card .text {
      font-family: "beleren"; }
    .deck-tray .deck-card .count {
      float: right;
      margin-right: 10px;
      font-family: "Belwe"; }
    .deck-tray .deck-card .btn {
      background: none;
      border-radius: 0;
      border: none;
      border-right: 3px dotted #CCBB99;
      color: #A63E26;
      margin-right: 5px; }
      .deck-tray .deck-card .btn:hover {
        background: #ffffde; }
      .deck-tray .deck-card .btn:active {
        outline: none; }
      .deck-tray .deck-card .btn:focus {
        outline: none; }
      .deck-tray .deck-card .btn:active > .deck-card {
        background: #d3ff84; }
  .deck-tray .dndDragover {
    background: #363636 !important; }
  .deck-tray .drag-box {
    box-shadow: 0 0 15px #262626;
    background-color: #262626;
    position: absolute;
    top: 0;
    height: 850px;
    width: 100%;
    transition: background 1s; }
    .deck-tray .drag-box::after {
      content: "";
      pointer-events: none;
      background-image: url("./../../images/trayBorder.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000; }
  .deck-tray .drag-box-ondrag {
    box-shadow: 0 0 15px #262626;
    background-color: #2e2e2e;
    position: absolute;
    top: 0;
    height: 850px;
    width: 100%;
    transition: background .2s; }
    .deck-tray .drag-box-ondrag::after {
      content: "";
      pointer-events: none;
      background-image: url("./../../images/trayBorderOndrag.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000; }
  .deck-tray .export-import {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 999;
    padding: 25px; }
    .deck-tray .export-import .btn {
      width: 50%; }

.modal-header {
  background: #262626; }

.modal-body {
  background: #262626; }
