@font-face {
  font-family: 'Belwe';
  src: url("./../../fonts/OPTIBelwe-Medium.woff"); }

@font-face {
  font-family: 'Beleren';
  src: url("./../../fonts/beleren.ttf"); }

@font-face {
  font-family: 'Relay';
  src: url("./../../fonts/relay.ttf"); }

body {
  overflow: hidden; }

.container-fluid {
  padding: 0; }

.challenge-btn {
  margin-top: 10px;
  margin-right: 45px; }

.home-btn {
  margin-top: 25px; }

.toggles {
  margin: 25px; }

.btn {
  border: 2px groove #ccbb99;
  font-family: "Beleren";
  color: #eeeecc; }
  .btn:hover {
    border: 2px groove #ccbb99;
    color: #eeeecc; }

.btn-primary {
  background: #262626; }
  .btn-primary:hover {
    background: #2f2f2f; }
