#exportModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exportModal', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Copy deck for export
            .modal-body
                pre {{exportedDeck}}
                .form-group
                    .input-group
                        .input-group-btn
                            button.btn.btn-primary.export-deck-btn(ng-href="{{ fileUrl }}" download="swingfaceDeck.txt" ng-click="exportToFile()") Download