#importModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exportModal', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-titleExported Paste deck for export
            .modal-body
                .form-group
                    textarea#import.form-control(rows='5', placeholder="{{importExample}}", ng-model="importString")
                    .input-group
                        .input-group-btn
                            button.btn.btn-primary.pull-right(ng-click="importDeck(importString)") Import Deck