#statsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='statsModal', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Statistics
            .modal-body
                .mana-count-container
                    canvas#manaCount()
                .mana-symbol-count-container
                    canvas#manaSymbolCount()
