.col-xs-12.sidenav-item(ng-click="changeSidenavState('nav')")
    | Back
    i.fa.fa-arrow-left.sidenav-arrow.pull-right(aria-hidden='true')
.col-xs-12.sidenav-item
    | Standard
.col-xs-12.sidenav-item
    | Modern
.col-xs-12.sidenav-item
    | Commander
.col-xs-12.sidenav-item
    | Legacy
.col-xs-12.sidenav-item
    | Vintage