.card-container
    .side-bar
        .card-count Page: {{currentPage}}/{{totalPage}}
        a.side-btn.btn.btn-primary(href="/admin") Admin
        a.side-btn.btn.btn-primary(href="/user") User
        a.side-btn.btn.btn-primary(href="/decks") Decks
        a.side-btn.btn.btn-primary(href="/editor") Editor
        a.side-btn.btn.btn-primary(href="/logout") Logout

    #back.area-click.back-area
    .cards
        .top-row
            .card-obj(ng-repeat="card in topRow")
                include Card
        .bot-row
            .card-obj(ng-repeat="card in botRow")
                include Card
    #forward.area-click.next-area
