.color-filter
    ul
        li.li-c
            input#c(type="checkbox")
            label.color-tab(for="c" onclick)
                img.color-img(src="./../../images/colorlessMana.png")
        li.li-b
            input#b(type="checkbox")
            label.color-tab(for="b" onclick)
                img.color-img(src="./../../images/blackMana.png")
        li.li-w
            input#w(type="checkbox")
            label.color-tab(for="w" onclick)
                img.color-img(src="./../../images/whiteMana.png")
        li.li-u
            input#u(type="checkbox")
            label.color-tab(for="u" onclick)
                img.color-img(src="./../../images/blueMana.png")
        li.li-r
            input#r(type="checkbox")
            label.color-tab(for="r" onclick)
                img.color-img(src="./../../images/redMana.png")
        li.li-g
            input#g(type="checkbox")
            label.color-tab(for="g" onclick)
                img.color-img(src="./../../images/greenMana.png")
        li.li-and
            input#and(type="checkbox")
            label.color-tab(for="and" onclick)
                img.color-img(src="./../../images/andMana.png")
        li.li-only
            input#only(type="checkbox")
            label.color-tab(for="only" onclick)
                img.color-img(src="./../../images/onlyMana.png")