.card-content-no-control-creature(ng-mouseenter="showHover(displayCard)", ng-mouseleave="hideHover()", ng-if="hoverCard.multiverseid != displayCard.multiverseid")
    .card-data
        .text {{displayCard.name}}
            .subtype(ng-if="hoverCard.multiverseid != displayCard.multiverseid") - {{displayCard.subtypes.join(" ")}}
        .mana-cost
            div(ng-if="displayCard.type.includes('Land')")
                .icon {{displayCard.type}}
            div(ng-if="!displayCard.type.includes('Land')")
                .icon(ng-if="getManaCost(displayCard.manaCost).length > 0", ng-repeat="cost in getManaCost(displayCard.manaCost) track by $index", ng-class="getIcon(cost)")
    .powerTough {{displayCard.power}}/{{displayCard.toughness}}
    .card-count
        span.count {{displayCard.count}}
.card-content-control(ng-mouseenter="showHover(displayCard)", ng-mouseleave="hideHover()", ng-if="hoverCard.multiverseid == displayCard.multiverseid")
    .add-remove-control(ng-if="hoverCard.multiverseid == displayCard.multiverseid")
        button.remove(ng-click="removeCard(displayCard)") -
        button.add(ng-click="addCard(displayCard)", ng-disabled="displayCard.count >= 4 && displayCard.supertypes[0] != 'Basic'", ng-class="{'disabled-add-btn': displayCard.count >= 4 && displayCard.supertypes[0] != 'Basic'}") +
    .card-data
        .text {{displayCard.name}}
        .mana-cost
            div(ng-if="displayCard.type.includes('Land')")
                .icon {{displayCard.type}}
            div(ng-if="!displayCard.type.includes('Land')")
                .icon(ng-if="getManaCost(displayCard.manaCost).length > 0", ng-repeat="cost in getManaCost(displayCard.manaCost) track by $index", ng-class="getIcon(cost)")
    .card-count
        span.count {{displayCard.count}}