#back.area-click.back-area
.cards
    .top-row
        .card-obj(ng-repeat="card in topRow")
            include Card
    .bot-row
        .card-obj(ng-repeat="card in botRow")
            include Card
#forward.area-click.next-area