.cmc-filter-box
    ul
        li
            input#cmcZero(type="checkbox")
            label.mana-tab(for="cmcZero" onclick)
                img(src='./../../images/cmc/cmc0.png')
        li
            input#cmcOne(type="checkbox")
            label.mana-tab(for="cmcOne" onclick)
                img(src='./../../images/cmc/cmc1.png')
        li
            input#cmcTwo(type="checkbox")
            label.mana-tab(for="cmcTwo" onclick)
                img(src='./../../images/cmc/cmc2.png')
        li
            input#cmcThree(type="checkbox")
            label.mana-tab(for="cmcThree" onclick)
                img(src='./../../images/cmc/cmc3.png')
        li
            input#cmcFour(type="checkbox")
            label.mana-tab(for="cmcFour" onclick)
                img(src='./../../images/cmc/cmc4.png')
        li
            input#cmcFive(type="checkbox")
            label.mana-tab(for="cmcFive" onclick)
                img(src='./../../images/cmc/cmc5.png')
        li
            input#cmcSix(type="checkbox")
            label.mana-tab(for="cmcSix" onclick)
                img(src='./../../images/cmc/cmc6.png')
        li
            input#cmcSeven(type="checkbox")
            label.mana-tab(for="cmcSeven" onclick)
                img(src='./../../images/cmc/cmc7.png')
        li
            input#cmcEightPlus(type="checkbox")
            label.mana-tab(for="cmcEightPlus" onclick)
                img(src='./../../images/cmc/cmc8plus.png')