.col-sm-4.color-filter
    ul
        li.li-c
            input#c(type="checkbox")
            label.color-tab.color-c(for="c" onclick)
        li.li-b
            input#b(type="checkbox")
            label.color-tab.color-b(for="b" onclick)
        li.li-w
            input#w(type="checkbox")
            label.color-tab.color-w(for="w" onclick)
        li.li-u
            input#u(type="checkbox")
            label.color-tab.color-u(for="u" onclick)
        li.li-r
            input#r(type="checkbox")
            label.color-tab.color-r(for="r" onclick)
        li.li-g
            input#g(type="checkbox")
            label.color-tab.color-g(for="g" onclick)
        li.li-and
            input#and(type="checkbox")
            label.color-tab.color-and(for="and" onclick)