.col-sm-2.format-select-box
    select.form-control.format-select.input-lg(ng-model="formatSelect", ng-change="formatChange(formatSelect)")
        option(value="modern") Modern
        option(value="standard") Standard