.rarity-filter-box
    ul
        li
            input#common(type="checkbox")
            label.rarity-tab.rarity-c(for="common" onclick) Common
        li
            input#uncommon(type="checkbox")
            label.rarity-tab.rarity-u(for="uncommon" onclick) Uncommon
        li
            input#rare(type="checkbox")
            label.rarity-tab.rarity-r(for="rare" onclick) Rare
        li
            input#mythic(type="checkbox")
            label.rarity-tab.rarity-m(for="mythic" onclick) Mythic