.col-sm-4.rarity-filter-box
    ul.pull-right
        li
            input#common(type="checkbox")
            label.rarity-tab.rarity-c(for="common" onclick) C
        li
            input#uncommon(type="checkbox")
            label.rarity-tab.rarity-u(for="uncommon" onclick) U
        li
            input#rare(type="checkbox")
            label.rarity-tab.rarity-r(for="rare" onclick) R
        li
            input#mythic(type="checkbox")
            label.rarity-tab.rarity-m(for="mythic" onclick) M