.text-filter
    .search-box
        input.search(type="text", placeholder="search...", ng-model="text", ng-change="searchText(text)")
    .type-box
        select.type-filter(ng-model="typeFilter", ng-change="typeChange(typeFilter)")
            option(value='none' selected) None
            option(value='land') Land
            option(value='creature') Creature
            option(value='artifact') Artifact
            option(value='enchantment') Enchantment
            option(value='planeswalker') Planeswalker
            option(value='instant') Instant
            option(value='sorcery') Sorcery
    a.admin-settings.btn.btn-primary(href="/admin") Admin
