link(rel="stylesheet", href="/css/challenge.css")
.cover
    .cover-inner
        header.inner
            .border-line
            h1.light-black.headline coming soon
            .border-line
            p.muli.inner
                | This is a cool feature that hasn't yet been implemented. Don't worry, its gonna be awesome.