link(rel="stylesheet", href="/css/login.css")
.wrapper
    .container
        h1 SwingFace is currently under construction.
        form.form(ng-submit="signin(username, password)")
            input(type='text', placeholder='Username', ng-model="username")
            input(type='password', placeholder='Password', ng-model="password")
            button#login-button(type='submit') Login
    ul.bg-bubbles
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li