@import 'vars';

.collection-box {
  .area-click {
    position: absolute;
    margin-top: 7%;
    height: 90%;
    width: 35px;
    z-index: 1000;
  }

  .back-area {
    top: 0;
    left: 0;
    cursor: url("./../../images/cursorL.cur"), auto;
  }

  .next-area {
    top: 0;
    right: 0;
    cursor: url("./../../images/cursorR.cur"), auto;
  }

  .card-view {
    .zoom-view {
      top: 10%;
      right: 0;
      position: absolute;
      z-index: 9999;
      box-shadow: 0 0 15px #000;
    }
    .side-nav{
      position: relative;
      top: 0px;
      border: 1px solid red;
      padding: 25px;
      z-index: 52;
      display: inline-block;
    }
    .cards {
      display: inline-block;
      position: relative;
      top: 0px;
      border: 1px solid red;
      width: 100%;
      padding: 25px;
      z-index: 51;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("./../../images/backGlightV2.png");
        background-color: transparent;
        background-size: contain;
        filter: drop-shadow(0px 0px 5px #262626);
        z-index: 0;
      }
      .card-obj {
        width: 24%;
        display: inline-block;
        .mtgcard {
          user-select: none;
          width: 65%;
          padding: 5px;
          z-index: 52;
          &:active + .drag-box {
            background: #fff !important;
          }
          img {
            display: inline-block;
          }
          img.cardImg {
            filter: drop-shadow(0px 0px 5px #262626);
            border-radius: 5px;
            z-index: 2;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
          }
        }
        .pricing-box {
          position: relative;
          top: 0;
          background: #262626;
          border: 2px groove #ccbb99;
          border-top: none;
          text-align: center;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          font-weight: lighter;
          .pricing {
            width: 48%;
            display: inline-block;
            .vendor {
              display: inline-block;
              font-family: Serif;
              color: #ccbb99;
              font-size: 10px;
            }
            .price {
              display: inline-block;
              font-family: Beleren;
              margin-left: 5px;
              margin-right: 5px;
              font-size: 12px;
              color: #eeeecc;
            }

          }
        }
        .invis-pricing-box {
          position: relative;
          top: 0;
          background: transparent;
          border: 2px groove transparent;
          border-top: none;
          text-align: center;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          font-weight: lighter;
          .pricing {
            width: 48%;
            display: inline-block;
            .vendor {
              display: inline-block;
              font-family: Serif;
              color: transparent;
              font-size: 10px;
            }
            .price {
              display: inline-block;
              font-family: Beleren;
              margin-left: 5px;
              margin-right: 5px;
              font-size: 12px;
              color: transparent;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .collection-box {
    min-height: 778px;
  }

  .cards {
    min-height: 613px;
  }
}

@media screen and (min-width: 1680px) {
  .collection-box {
    min-height: 684px;
  }

  .cards {
    min-height: 519px;
  }
}

@media screen and (min-width: 1600px) {
  .collection-box {
    min-height: 653px;
  }

  .cards {
    min-height: 488px;
  }
}

@media screen and (min-width: 1440px) {
  .collection-box {
    min-height: 590px;
  }

  .cards {
    min-height: 425px;
  }
}

@media screen and (min-width: 1366px) {
  .collection-box {
    min-height: 560px;
  }

  .cards {
    min-height: 395px;
  }
}

@media screen and (min-width: 1280px) {
  .collection-box {
    min-height: 527px;
  }

  .cards {
    min-height: 361px;
  }
}

@media screen and (min-width: 1024px) {
  .collection-box {
    min-height: 426px;
  }

  .cards {
    min-height: 261px;
  }
}