@font-face {
  font-family: 'Belwe';
  src: url("./../../fonts/OPTIBelwe-Medium.woff");
}

@font-face {
  font-family: 'Beleren';
  src: url("./../../fonts/beleren.ttf");
}

@font-face {
  font-family: 'Relay';
  src: url("./../../fonts/relay.ttf");
}

body {
  background-image: url("./../../images/tableBG.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
}

.deck-builder {
  margin-top: 50px;
}

.collection-box {

  .area-click {
    position: absolute;
    margin-top: 10px;
    height: 680px;
    width: 35px;
    z-index: 1000;
  }

  .back-area {
    left: 0;
    cursor: w-resize;
  }

  .next-area {
    right: 0;
    cursor: e-resize;
  }

  .color-filter {
    height: 85px;
    margin-bottom: -10px;

    ul {
      margin-top: 0;
      padding: 0;
      position: absolute;
      bottom: 0;
      height: 70px;

      li {
        position: absolute;
        bottom: 0;
        list-style: none;
        display: inline-block;
      }
    }

    input[type=checkbox] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .color-tab {
      background-color: #262626;
      background-size: cover;
      background-repeat: no-repeat;
      width: 50px;
      height: 60px;
      display: inline-block;
      border: 2px groove #CCBB99;
      border-bottom: none;
      margin-top: 20px;
      margin-bottom: -8px;
      margin-left: 5px;
      margin-right: 5px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      transition: height .5s;
    }

    .li-c {
      left: 10px;
    }

    .li-b {
      left: 70px;
    }

    .li-w {
      left: 130px;
    }

    .li-u {
      left: 190px;
    }

    .li-r {
      left: 250px;
    }

    .li-g {
      left: 310px;
    }

    .li-and {
      left: 370px;
    }
    
    .color-c {
      background-image: url("./../../images/colorlessMana.png");
    }

    .color-b {
      background-image: url("./../../images/blackMana.png");
    }

    .color-w {
      background-image: url("./../../images/whiteMana.png");
    }

    .color-u {
      background-image: url("./../../images/blueMana.png");
    }

    .color-r {
      background-image: url("./../../images/redMana.png");
    }

    .color-g {
      background-image: url("./../../images/greenMana.png");
    }

    .color-and {
      background-image: url("./../../images/andMana.png");
    }


    input[type=checkbox]:checked ~ .color-tab {
      height: 80px;
    }
  }

  .text-filter {
    .search-divider {
      width:0px;
      padding-left:0px;
      padding-right:0px;
      border:none;
    }
  }

  .cards {
    padding-top: 20px;
    padding-bottom: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: 120%;
      height: 100%;
      background-image: url("./../../images/paper.png");
      background-color: transparent;
      background-size: contain;
      filter: drop-shadow(0px 0px 5px #262626);
    }
    .mtgcard {
      padding: 15px;
      position: relative;
      user-select: none;
      &:active + .drag-box {
        background: #fff !important;
      }
      .cardImg {
        filter: drop-shadow(0px 0px 5px #262626);
        position: relative;
        z-index: 2;
      }
    }
    .cards-left {
      position: absolute;
      padding-top: 4px;
      padding-right: 10px;
      font-family: "beleren";
      font-size: 24px;
      color: #2e2e2e;
      text-align: right;
      right: 40px;
      top: 10%;
      width: 50px;
      height: 50px;
      background: #EEEECC;
      border-top: 3px groove #CCBB99;
      border-right: 3px groove #CCBB99;
      border-bottom: 3px groove #CCBB99;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      z-index: 0;
    }
  }

  .filter {
    height: 85px;
    .format-select-box {
      .format-select {
        color: #000;
      }
    }

    .cmc-filter-box {
      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          display: inline-block;
        }
      }

      input[type=checkbox] {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      .mana-tab {
        width: 40px;
        height: 40px;
        display: inline-block;
        border: 1px solid #6e6e6e;
        margin-top: 0;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 100%;
      }

      input[type=checkbox]:checked ~ .mana-tab {
        border: 1px solid #00d8ff;
      }
    }

    .rarity-filter-box {
      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          display: inline-block;
        }
      }

      input[type=checkbox] {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      .rarity-tab {
        width: 50px;
        height: 50px;
        display: inline-block;
        border: 1px solid #6e6e6e;
        margin-top: 0;
        margin-bottom: -8px;
        margin-left: 5px;
        margin-right: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      input[type=checkbox]:checked ~ .rarity-tab {
        border: 1px solid #ffe000;
      }
    }
  }
}

.deck-tray {
  padding:0;


  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }

  .display-box {
    padding: 20px;
  }

  .deck-card {
    width:100%;
    margin-bottom: 5px;
    color: #262626;
    position: relative;
    z-index: 999;
    background: #EEEECC;
    border: 4px groove #CCBB99;
    span {
      margin-top: 5px;
    }
    .text {
      font-family: "beleren";
    }
    .count {
      float: right;
      margin-right: 10px;
      font-family: "Belwe";
    }
    .btn {
      background: none;
      border-radius: 0;
      border: none;
      border-right: 3px dotted #CCBB99;
      color: #A63E26;
      margin-right: 5px;
      &:hover {
        background: #ffffde;
      }
      &:active {
        outline: none;
      }
      &:focus {
        outline: none;
      }
      &:active > .deck-card {
        background: #d3ff84;
      }
    }
  }

  .dndDragover {
    background: #363636 !important;
  }

  .drag-box {
    box-shadow: 0 0 15px #262626;
    background-color: #262626;
    position: absolute;
    top: 0;
    height: 850px;
    width: 100%;
    transition: background 1s;
    &::after {
      content: "";
      pointer-events: none;
      background-image: url("./../../images/trayBorder.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }
  }

  .drag-box-ondrag {
    box-shadow: 0 0 15px #262626;
    background-color: #2e2e2e;
    position: absolute;
    top: 0;
    height: 850px;
    width: 100%;
    transition: background .2s;
    &::after {
      content: "";
      pointer-events: none;
      background-image: url("./../../images/trayBorderOndrag.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }
  }

  .export-import {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 999;
    padding: 25px;
    .btn {
      width: 50%;

    }
  }
}