@import 'vars';

.deck-tray {
  position: absolute;
  display: inline-block;
  width: 25%;
  height: 100%;
  padding: 0;
  margin-left: 10px;
  z-index: 1000;

  .deck-boxes {
    height: 100%;
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
      }
    }
    .deck-options {
      border-bottom: 3px groove #ccbb99;
      font-family: Relay;
      position: relative;
      padding: 10px;
      color: #eeeecc;
      z-index: 1000;
      button{
        margin: 5px;
        margin-bottom: 0;
      }
      .clearall-btn {
        float: right;
        background: rgba(255, 0, 0, 0.1);
        &:hover {
          background: rgba(255, 0, 0, 0.2);
          cursor: pointer;
        }
      }
    }
    .display-box {
      height: 85%;
      overflow-y: scroll;
      span {
        font-family: Beleren;
        top: 10px;
        left: 25px;
        display: block;
        position: relative;
        z-index: 9999;
        color: #bdbdbd;
        margin-bottom: 20px;
      }
      .total {
        font-family: Belwe;
        top: 10px;
        left: 25px;
        display: block;
        position: relative;
        z-index: 9999;
        color: #ccbb99;
        margin-bottom: 10px;
      }
      .deck-card {
        width: 90%;
        height: 40px;
        margin: 10px auto;
        color: #262626;
        position: relative;
        z-index: 999;
        .card-content-no-control {
          color: #eeeecc;
          background: #262626;
          border: 1px solid #000;
          position: relative;
          padding: 0;
          margin: 0;
          height: 100%;
          .card-data {
            display: inline-block;
            margin: 0;
            padding: 0;
            padding-left: 5px;
            width: 85%;

            .text {
              font-family: "beleren";
              margin: 0;
              padding: 0;
              font-size: 12px;
              display: block;
              .subtype {
                display: inline-block;
                font-size: 10px;
                color: #c2c2c2;
              }
            }

            .mana-cost {
              margin: 0;
              padding: 0;
              display: block;
              margin-top: 5px;
              font-size: 10px;
              .icon {
                display: inline-block;
              }
              .suspend {
                display: inline-block;
                position: relative;
                top: -4px;
                left: 5px;
              }
            }
          }
          .card-count {
            text-align: center;
            position: relative;
            top: -20px;
            width: 5%;
            right: 8px;
            display: inline-block;
            .count {
              font-family: "Belwe";
            }
          }
        }
        .card-content-no-control-creature {
          color: #eeeecc;
          background: #262626;
          border: 1px solid #000;
          position: relative;
          padding: 0;
          margin: 0;
          height: 100%;
          .card-data {
            display: inline-block;
            margin: 0;
            padding: 0;
            padding-left: 5px;
            width: 80%;

            .text {
              font-family: "beleren";
              margin: 0;
              padding: 0;
              font-size: 12px;
              display: block;
              .subtype {
                display: inline-block;
                font-size: 10px;
                color: #c2c2c2;
              }
            }

            .mana-cost {
              margin: 0;
              padding: 0;
              display: block;
              margin-top: 5px;
              font-size: 10px;

              .icon {
                display: inline-block;

              }
              .suspend {
                display: inline-block;
                position: relative;
                top: -4px;
                left: 5px;
              }
            }
          }
          .powerTough {
            width: 5%;
            display: inline-block;
            position: relative;
            font-family: Relay;
            font-size: 12px;
            color: #c2c2c2;
            top: -8px;
            text-align: left;
          }
          .card-count {
            position: relative;
            top: -20px;
            width: 5%;
            right: 8px;
            display: inline-block;
            text-align: center;
            .count {
              font-family: "Belwe";
            }
          }
        }
        .card-content-control {
          color: #eeeecc;
          background: #262626;
          border: 1px solid #000;
          position: relative;
          padding: 0;
          margin: 0;
          height: 100%;
          .add-remove-control {
            display: inline-block;
            position: relative;
            float: left;
            padding: 0;
            margin: 0;
            width: 20%;
            height: 100%;
            button {
              width: 49%;
              height: 100%;
              background: none;
              border-radius: 0;
              border: none;
              border-right: 3px dotted #CCBB99;

              &:active {
                outline: none;
              }
              &:focus {
                outline: none;
              }
              &:active > .deck-card {
                background: #fbffbc;
              }
              &.add {
                color: $card-green;
              }
              &.remove {
                color: $card-red;
              }
              &.add:hover {
                background: rgba(0, 255, 0, 0.1);
                cursor: pointer;
                color: $card-green;
              }
              &.remove:hover {
                background: rgba(255, 0, 0, 0.1);
                cursor: pointer;
                color: $card-red;
              }
              &.disabled-add-btn:hover {
                background: none;
                cursor: default;
                color: $card-colorless;
              }
              &.disabled-add-btn {
                color: $card-colorless;
              }
            }
          }
          .card-data {
            display: inline-block;
            margin: 0;
            padding: 0;
            padding-left: 5px;
            width: 65%;
            .text {
              font-family: "beleren";
              margin: 0;
              padding: 0;
              font-size: 12px;
              display: block;
              .subtype {
                display: inline-block;
                font-size: 10px;
                color: #c2c2c2;
              }
            }

            .mana-cost {
              padding: 0;
              display: block;
              margin-top: 5px;

              font-size: 10px;
              .icon {
                display: inline-block;

              }
              .suspend {
                display: inline-block;
                position: relative;
                top: -4px;
                left: 5px;
              }
            }
          }
          .card-count {
            position: relative;
            width: 5%;
            top: -20px;
            right: 8px;
            display: inline-block;
            text-align: center;
            .count {
              font-family: "Belwe";
            }
          }
        }
      }
    }

    .dndDragover {
      background: #363636 !important;
    }

    .drag-box {
      box-shadow: -1px 0 15px rgba(38, 38, 38, 0.5);
      background-color: #262626;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      transition: background 1s;
      border-radius: 10px;
      &::before {
        content: "";
        pointer-events: none;
        background-image: url("./../../images/trayBorder.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
      }
      .export-import {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 999;
        margin: 2% 5%;
        .btn {
          display: inline-block;
          width: 45%;
          margin-bottom: 10px;
        }
      }
    }

    .drag-box-ondrag {
      box-shadow: 0 0 15px #262626;
      background-color: #2e2e2e;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      transition: background .2s;
      &::before {
        content: "";
        background-image: url("./../../images/trayBorderOndrag.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2000;
      }
      .export-import {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 999;
        margin: 2% 5%;
        .btn {
          display: inline-block;
          width: 45%;
          margin-bottom: 10px;
        }
      }
    }
  }
}

