@import 'vars';

body {
  background-image: url("./../../images/tableBG.jpg");
  background-size: 100% 100%;
  color: #fff;
}

.deck-builder {
  margin-top: 50px;
}

.modal-header {
  background: #262626;
}

.modal-body {
  background: #262626;
}