@import 'vars';
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

.reference-body {
  height: 100vh;
  width: 100vw;
  margin-left: -8px;
  margin-top: -8px;
  background-image: url("./../../images/tableBG.jpg");
  color: #fff;
  overflow-y: scroll;
  .logo {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    img {
      height: auto;
      width: 100%;
    }
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    .paperList {
      align: center;
      position: relative;
      height: 905px;
      width: 100%;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 0px 10px 0px #888;
      .lines {
        height: calc(100% - 90px);
        width: 100%;
        background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
        .headerText {
          font-weight: bold;
          position: absolute;
          top: 25px;
          left: 55px;
          bottom: 10px;
          right: 10px;
          line-height: 25px;
          font-family: 'Indie Flower';
          overflow: hidden;
          outline: none;
          .list {
            color: black;
            dt {
              color: #CC0000;
              dd {
                font-weight: normal;
              }
            }
          }
        }
      }
    }

    .paperList::before {
      content: '';
      position: absolute;
      left: 45px;
      height: 100%;
      width: 2px;
      background: rgba(255, 0, 0, 0.4);
    }

    $button--colors: (
            grey: (text: #333, background: #bdc3c7),
            white: (text: #333, background: #fff),
            red: (text: #fff, background: #c0392b),
            orange: (text: #fff, background: #e67e22),
            yellow: (text: #fff, background: #f1c40f),
            green: (text: #fff, background: #27ae60),
            blue: (text: #fff, background: #446CB3),
            dark-blue: (text: #fff, background: #2c3e50),
            purple: (text: #fff, background: #8e44ad)
    );

    a {
      margin-left: 40%;
      margin-top: 1%;
      background: #262626;
      border: 2px groove #ccbb99;
      text-decoration: none;
      padding: 10px 20px;
      text-align: center;
      border-radius: 5px;
      font-family: Relay;

    }
  }
}