@font-face {
  font-family: 'Belwe';
  src: url("./../../fonts/OPTIBelwe-Medium.woff"); }

@font-face {
  font-family: 'Beleren';
  src: url("./../../fonts/beleren.ttf"); }

@font-face {
  font-family: 'Relay';
  src: url("./../../fonts/relay.ttf"); }

@font-face {
  font-family: "Mana";
  src: url("./../../fonts/ManaSymbols.woff");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-blacksvg:before {
  font-family: "Mana";
  content: "\62";
  color: #626359; }

.icon-bluesvg:before {
  font-family: "Mana" !important;
  content: "\63";
  color: #548DBF; }

.icon-greensvg:before {
  font-family: "Mana" !important;
  content: "\64";
  color: #5FA65D; }

.icon-redsvg:before {
  font-family: "Mana" !important;
  content: "\65";
  color: #D94E4E; }

.icon-whitesvg:before {
  font-family: "Mana" !important;
  content: "\66";
  color: #fff; }

.icon-0:before {
  content: "\61";
  font-family: "Mana";
  color: #afafaf; }

.icon-1:before {
  content: "\68";
  font-family: "Mana";
  color: #afafaf; }

.icon-2:before {
  content: "\67";
  font-family: "Mana";
  color: #afafaf; }

.icon-3:before {
  content: "\69";
  font-family: "Mana";
  color: #afafaf; }

.icon-4:before {
  content: "\6a";
  font-family: "Mana";
  color: #afafaf; }

.icon-5:before {
  content: "\6b";
  font-family: "Mana";
  color: #afafaf; }

.icon-6:before {
  content: "\6c";
  font-family: "Mana";
  color: #afafaf; }

.icon-7:before {
  content: "\6d";
  font-family: "Mana";
  color: #afafaf; }

.icon-8:before {
  content: "\6e";
  font-family: "Mana";
  color: #afafaf; }

.icon-9:before {
  content: "\6f";
  font-family: "Mana";
  color: #afafaf; }

.icon-10:before {
  content: "\70";
  font-family: "Mana";
  color: #afafaf; }

.icon-11:before {
  content: "\71";
  font-family: "Mana";
  color: #afafaf; }

.icon-12:before {
  content: "\72";
  font-family: "Mana";
  color: #afafaf; }

.icon-13:before {
  content: "\73";
  font-family: "Mana";
  color: #afafaf; }

.icon-14:before {
  content: "\74";
  font-family: "Mana";
  color: #afafaf; }

.icon-15:before {
  content: "\75";
  font-family: "Mana";
  color: #afafaf; }

.icon-16:before {
  content: "\76";
  font-family: "Mana";
  color: #afafaf; }

.icon-x:before {
  content: "\77";
  font-family: "Mana";
  color: #afafaf; }

.landing-body {
  height: 100vh;
  width: 100vw;
  margin-left: -8px;
  margin-top: -8px;
  background: #ccbb99;
  color: #fff; }
  .landing-body .logo {
    width: 50%;
    margin-left: 25%; }
    .landing-body .logo img {
      width: 100%; }
  .landing-body .container {
    width: 50%;
    margin-left: 25%; }
    .landing-body .container .desc p {
      background: #262626;
      border-radius: 10px;
      padding: 20px;
      font-size: 14px;
      font-family: "Relay"; }
    .landing-body .container .lists {
      font-family: Relay; }
      .landing-body .container .lists .list {
        position: relative;
        float: left;
        margin-left: 1%;
        top: 0;
        width: 49%;
        display: inline-block; }
        .landing-body .container .lists .list h3 {
          background: #262626;
          padding: 5px;
          border-radius: 10px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0; }
        .landing-body .container .lists .list .known-list {
          list-style-type: none;
          margin-top: -20px;
          background: #262626;
          border-radius: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          padding: 15px;
          padding-left: 10px; }
          .landing-body .container .lists .list .known-list > li:before {
            content: "-"; }
    .landing-body .container a {
      margin-left: 40%;
      background: #262626;
      border: 2px groove #ccbb99;
      text-decoration: none;
      padding: 10px 20px;
      text-align: center;
      color: #eeeecc;
      border-radius: 5px;
      font-family: Relay; }
