@import '../../../public/sass/css/vars';

.display-card-border {
  border: 1px solid #000;
  padding: 2px;
  padding-bottom: 4px;
  background: #acacac;
}

//5 color
.-U-W-B-R-G-border  {
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue), color-stop(0.25, $card-white), color-stop(0.50, $card-black), color-stop(0.75, $card-red), color-stop(1, $card-green)) !important;
}

//4 color
.-U-W-B-R-border  {
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue), color-stop(.33, $card-white), color-stop(.66, $card-black), color-stop(1, $card-red)) !important;
}

.-U-W-B-G-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue), color-stop(.33, $card-white), color-stop(.66, $card-black), color-stop(1, $card-green)) !important;
}

.-U-W-R-G-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue), color-stop(.33, $card-white), color-stop(.66, $card-red), color-stop(1, $card-green)) !important;
}

.-U-B-R-G-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue), color-stop(.33, $card-black), color-stop(.66, $card-red), color-stop(1, $card-green)) !important;
}

.-W-B-R-G-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-white), color-stop(0.33, $card-black), color-stop(0.66, $card-red), color-stop(1, $card-green)) !important;
}

//3 color
.-U-W-B-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue),  color-stop(0.50, $card-white), color-stop(1, $card-black)) !important;
}

.-U-W-G-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue),  color-stop(0.50, $card-white), color-stop(1, $card-green)) !important;
}

.-U-R-B-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue),  color-stop(0.50, $card-red), color-stop(1, $card-green)) !important;
}

.-U-B-R-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue),  color-stop(0.50, $card-black), color-stop(1, $card-red)) !important;
}

.-U-B-G-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue),  color-stop(0.50, $card-black), color-stop(1, $card-green)) !important;
}

.-U-W-R-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue),  color-stop(0.50, $card-white), color-stop(1, $card-red)) !important;
}

.-B-R-G-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-black),  color-stop(0.50, $card-red), color-stop(1, $card-green)) !important;
}

.-W-R-G-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-white),  color-stop(0.50, $card-red), color-stop(1, $card-green)) !important;
}

.-W-B-R-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-white),  color-stop(0.50, $card-black), color-stop(1, $card-red)) !important;
}

.-W-B-G-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-white),  color-stop(0.50, $card-black), color-stop(1, $card-green)) !important;
}

//2 color
.-U-W-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue), color-stop(1, $card-white)) !important;
}

.-U-B-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue), color-stop(1, $card-black)) !important;
}

.-U-R-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue), color-stop(1, $card-red)) !important;
}

.-U-G-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue), color-stop(1, $card-green)) !important;
}

.-W-B-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-white), color-stop(1, $card-black)) !important;
}

.-W-R-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-white), color-stop(1, $card-red)) !important;
}

.-W-G-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-white), color-stop(1, $card-green)) !important;
}

.-B-R-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-black), color-stop(1, $card-red)) !important;
}

.-B-G-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-black), color-stop(1, $card-green)) !important;
}

.-R-G-border  {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-red), color-stop(1, $card-green)) !important;
}

//1 color

.-U-border {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-blue)) !important;
}

.-W-border {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-white)) !important;
}

.-B-border {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-black)) !important;
}

.-R-border {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-red)) !important;
}

.-G-border {

  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $card-green)) !important;
}
