script(type='text/ng-template', id='cardTemp')
    include templates/card
.container-fluid
    a.btn.btn-warning.btn-sm.challenge-btn.pull-right(href='/challenge') Challenge Yourself
    .col-sm-12.deck-builder
        .col-sm-9.collection-box
            .row
                .col-sm-6.color-filter
                    ul
                        li
                            input#c(type="checkbox")
                            label.color-tab.color-c(for="c" onclick) C
                        li
                            input#b(type="checkbox")
                            label.color-tab.color-b(for="b" onclick) B
                        li
                            input#w(type="checkbox")
                            label.color-tab.color-w(for="w" onclick) W
                        li
                            input#u(type="checkbox")
                            label.color-tab.color-u(for="u" onclick) U
                        li
                            input#r(type="checkbox")
                            label.color-tab.color-r(for="r" onclick) R
                        li
                            input#g(type="checkbox")
                            label.color-tab.color-g(for="g" onclick) G
                        li
                            input#and(type="checkbox")
                            label.color-tab.color-and(for="and" onclick) &
                .col-sm-6.text-filter
                    .input-group.col-sm-12
                        input.form-control.search(type="text", placeholder="search...", ng-model="text", ng-change="searchText(text)")
                        span.input-group-addon.search-divider
                        select.form-control.type-filter(ng-model="typeFilter", ng-change="typeChange(typeFilter)")
                            option(value='none' selected) None
                            option(value='land') Land
                            option(value='creature') Creature
                            option(value='artifact') Artifact
                            option(value='enchantment') Enchantment
                            option(value='planeswalker') Planeswalker
                            option(value='instant') Instant
                            option(value='sorcery') Sorcery
            .row
                #back.area-click.back-area
                .col-sm-12.cards
                    .row
                        .col-sm-3(ng-repeat="card in topRow")
                            .mtgcard(dnd-draggable="card", dnd-effect-allowed="copy", dnd-copied="card.count = card.count + 1")
                                img.img-responsive(src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseid}}&type=card")
                    .row
                        .col-sm-3(ng-repeat="card in botRow")
                            .mtgcard(dnd-draggable="card", dnd-effect-allowed="copy", dnd-copied="card.count = card.count + 1")
                                img.img-responsive(src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseid}}&type=card")
                #forward.area-click.next-area
            .row
                .col-sm-12.filter
                    .col-sm-2.format-select-box
                        select.form-control.format-select(ng-model="formatSelect", ng-change="formatChange(formatSelect)")
                            option(value="modern") Modern
                            option(value="standard") Standard
                    .col-sm-4.rarity-filter-box
                        ul.pull-right
                            li
                                input#common(type="checkbox")
                                label.rarity-tab(for="common" onclick) C
                            li
                                input#uncommon(type="checkbox")
                                label.rarity-tab(for="uncommon" onclick) U
                            li
                                input#rare(type="checkbox")
                                label.rarity-tab(for="rare" onclick) R
                            li
                                input#mythic(type="checkbox")
                                label.rarity-tab(for="mythic" onclick) M
                    .col-sm-6.cmc-filter-box
                        ul.pull-right
                            li
                                input#cmcZero(type="checkbox")
                                label.mana-tab(for="cmcZero" onclick) 0
                            li
                                input#cmcOne(type="checkbox")
                                label.mana-tab(for="cmcOne" onclick) 1
                            li
                                input#cmcTwo(type="checkbox")
                                label.mana-tab(for="cmcTwo" onclick) 2
                            li
                                input#cmcThree(type="checkbox")
                                label.mana-tab(for="cmcThree" onclick) 3
                            li
                                input#cmcFour(type="checkbox")
                                label.mana-tab(for="cmcFour" onclick) 4
                            li
                                input#cmcFive(type="checkbox")
                                label.mana-tab(for="cmcFive" onclick) 5
                            li
                                input#cmcSix(type="checkbox")
                                label.mana-tab(for="cmcSix" onclick) 6
                            li
                                input#cmcSeven(type="checkbox")
                                label.mana-tab(for="cmcSeven" onclick) 7
                            li
                                input#cmcEightPlus(type="checkbox")
                                label.mana-tab(for="cmcEightPlus" onclick) 8+
        .col-sm-3.deck-tray(ng-repeat="(zone, list) in models.dropzones")
            ul.display-box
                li.deck-card(ng-repeat='displayCard in displayDeck')
                    button.btn.btn-danger.btn-sm(ng-click="removeCard(displayCard)") remove
                    |  {{displayCard.name}} - {{displayCard.count}}
            ul.drag-box(dnd-list='list')