.container-fluid
    .col-sm-12.deck-builder
        .col-sm-9.collection-box
            .row
                .col-sm-6.color-filter
                    ul
                        li.li-c
                            input#c(type="checkbox")
                            label.color-tab.color-c(for="c" onclick)
                        li.li-b
                            input#b(type="checkbox")
                            label.color-tab.color-b(for="b" onclick)
                        li.li-w
                            input#w(type="checkbox")
                            label.color-tab.color-w(for="w" onclick)
                        li.li-u
                            input#u(type="checkbox")
                            label.color-tab.color-u(for="u" onclick)
                        li.li-r
                            input#r(type="checkbox")
                            label.color-tab.color-r(for="r" onclick)
                        li.li-g
                            input#g(type="checkbox")
                            label.color-tab.color-g(for="g" onclick)
                        li.li-and
                            input#and(type="checkbox")
                            label.color-tab.color-and(for="and" onclick)
                .col-sm-6.text-filter
                    .input-group.col-sm-12
                        input.form-control.search(type="text", placeholder="search...", ng-model="text", ng-change="searchText(text)")
                        span.input-group-addon.search-divider
                        select.form-control.type-filter(ng-model="typeFilter", ng-change="typeChange(typeFilter)")
                            option(value='none' selected) None
                            option(value='land') Land
                            option(value='creature') Creature
                            option(value='artifact') Artifact
                            option(value='enchantment') Enchantment
                            option(value='planeswalker') Planeswalker
                            option(value='instant') Instant
                            option(value='sorcery') Sorcery
            .row
                #back.area-click.back-area
                .col-sm-12.cards
                    .row
                        .col-sm-3.card-obj(ng-repeat="card in topRow")
                            .mtgcard(dnd-draggable="card", dnd-dragstart="dragStart()", dnd-dragend="dragEnd()", dnd-effect-allowed="copy", dnd-disable-if="card.cardsLeft <= 0", dnd-copied="card.count = card.count + 1")
                                .col-sm-9
                                    img.img-responsive.cardImg(src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseid}}&type=card")
                                .col-sm-3
                                    .cards-left x{{card.cardsLeft}}
                    .row
                        .col-sm-3.card-obj(ng-repeat="card in botRow")
                            .mtgcard(dnd-draggable="card", dnd-dragstart="dragStart()", dnd-dragend="dragEnd()", dnd-effect-allowed="copy", dnd-disable-if="card.cardsLeft <= 0", dnd-copied="card.count = card.count + 1")
                                .col-sm-9
                                    img.img-responsive.cardImg(src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseid}}&type=card")
                                .col-sm-3
                                    .cards-left x{{card.cardsLeft}}
                #forward.area-click.next-area
            .row
                .col-sm-12.filter
                    .col-sm-2.format-select-box
                        select.form-control.format-select(ng-model="formatSelect", ng-change="formatChange(formatSelect)")
                            option(value="modern") Modern
                            option(value="standard") Standard
                    .col-sm-4.rarity-filter-box
                        ul.pull-right
                            li
                                input#common(type="checkbox")
                                label.rarity-tab(for="common" onclick) C
                            li
                                input#uncommon(type="checkbox")
                                label.rarity-tab(for="uncommon" onclick) U
                            li
                                input#rare(type="checkbox")
                                label.rarity-tab(for="rare" onclick) R
                            li
                                input#mythic(type="checkbox")
                                label.rarity-tab(for="mythic" onclick) M
                    .col-sm-6.cmc-filter-box
                        ul.pull-right
                            li
                                input#cmcZero(type="checkbox")
                                label.mana-tab(for="cmcZero" onclick) 0
                            li
                                input#cmcOne(type="checkbox")
                                label.mana-tab(for="cmcOne" onclick) 1
                            li
                                input#cmcTwo(type="checkbox")
                                label.mana-tab(for="cmcTwo" onclick) 2
                            li
                                input#cmcThree(type="checkbox")
                                label.mana-tab(for="cmcThree" onclick) 3
                            li
                                input#cmcFour(type="checkbox")
                                label.mana-tab(for="cmcFour" onclick) 4
                            li
                                input#cmcFive(type="checkbox")
                                label.mana-tab(for="cmcFive" onclick) 5
                            li
                                input#cmcSix(type="checkbox")
                                label.mana-tab(for="cmcSix" onclick) 6
                            li
                                input#cmcSeven(type="checkbox")
                                label.mana-tab(for="cmcSeven" onclick) 7
                            li
                                input#cmcEightPlus(type="checkbox")
                                label.mana-tab(for="cmcEightPlus" onclick) 8+
        .col-sm-3.deck-tray(ng-repeat="(zone, list) in models.dropzones")
            ul.display-box
                li.deck-card(ng-repeat='displayCard in displayDeck')
                    button.btn.btn-danger.btn-sm(ng-click="removeCard(displayCard)")
                        span.glyphicon.glyphicon-remove-sign
                    span.text {{displayCard.name}}
                    span.count {{displayCard.count}}
            ul#drag-box.drag-box(dnd-list='list')
                .export-import
                    button.btn.btn-primary(data-toggle="modal", data-target="#exportModal", ng-click="exportDeck()") Export
                    button.btn.btn-primary(ng-click="open()") Import
#exportModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exportModal', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-titleExported Copy deck for export
            .modal-body
                pre {{exportedDeck}}